<%= form_tag '/calculator', method: :post, id: 'calculator' do %>
  <%= label_tag 'operand1', 'Operand 1' %>
  <%= text_field_tag 'operand1' %>

  <%= label_tag 'operand2', 'Operand 2' %>
  <%= text_field_tag 'operand2' %>

  <%= submit_tag 'Add' %>
<% end %>

<div id="results">
  Result: <%= @result %>
</div>
